<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="/headerStyle.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
<div th:fragment="head">

<ul>
    <li><a href="/"><p>KEA Blog</p></a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/login">Log In</a></li>
    <li><a href="/about">About</a></li>

    <form action="/" method="get">
        <input type="text" placeholder="Search" name="search">
        <button type="submit">Search</button>
    </form>
</ul>
</div>
</body>
</html>