<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://bootswatch.com/4/litera/bootstrap.min.css" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Newest posts</title>
</head>
<body>
<div th:replace="fragments/headerBoot :: headerBoot"></div>
<br>
<h2 class="ml-3">Newest posts</h2>
<div class="ml-3" th:if="${session.id_role == 1}">
    <form th:action="@{/message}" method="post" th:object="${Message}">
        <input type="text" placeholder="Title" name="title">
        <input type="text" placeholder="Message" name="text">
        <input type="hidden" th:value="${session.id}" name="uid">
        <br>
        <button type="submit" class="btn btn-outline-success mt-2">Post!</button>
    </form>
</div>
<br>
<form method="get" action="/history">
    <button class="ml-3 mb-2" type="submit">See all posts</button>
</form>
<div class="ml-3">
    <table class="table">
        <tr>
            <th>Subject</th>
            <th>Message</th>
            <th>User</th>
            <th>Date</th>
            <div th:if="${session.id_role == 1}">
                <th>Options</th>
            </div>
        </tr>
        <div th:each="message:${messages}">
            <tr>
                <td><p th:text="${message.title}"></p></td>
                <td><p th:text="${message.text}"></p></td>
                <td><p th:text="${message.username}"></p></td>
                <td><p th:text="${message.date} + ' ' + ${message.time}"></p></td>
                <div th:if="${session.username == message.username}">
                    <form th:action="@{/deletemessage}" method="post" th:object="${Message}">
                        <input type="hidden" th:value="${message.id}" name="id">
                        <td><button type="submit" class="btn btn-outline-danger">Delete</button></td>
                    </form>
                    <form th:action="@{/editmessage}" method="get" th:object="${Message}">
                        <input type="hidden" th:value="${message.id}" name="id">
                        <input type="hidden" th:value="${message.username}" name="username">
                        <input type="hidden" th:value="${message.title}" name="title">
                        <input type="hidden" th:value="${message.text}" name="text">
                        <td><button type="submit" class="btn btn-outline-warning">Edit</button></td>
                    </form>
                </div>
            </tr>
        </div>
    </table>
</div>
</body>
</html>