<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:if="${session.id_role == 1}">
    <head>
        <link href="https://bootswatch.com/4/litera/bootstrap.min.css" type="text/css" rel="stylesheet">
        <meta charset="UTF-8">
        <title>Chat</title>
    </head>

    <body>
    <div th:replace="fragments/headerBoot :: headerBoot"></div>

    <div class="ml-3" th:if="${session.id_role == 1}">
        <form th:action="@{/chat}" method="post" th:object="${Chat}">
            <div class="form-group">
                <label>Select user</label>
                <select class="form-control" name="sent_to">
                    <option th:each="user:${users}" th:value="${user.id}"><p th:text="${user.username}"></p></option>
                </select>
            </div>
            <input type="text" placeholder="Message" name="text">
            <input type="hidden" th:value="${session.id}" name="sent_from">
            <br>
            <button type="submit" class="btn btn-outline-success mt-2">Post!</button>
        </form>
    </div>

    <table class="table">
        <tr>
            <th>Text</th>
            <th>Sent from</th>
        </tr>
        <div th:each="chat:${chats}">

            <tr>

                <td><p th:text="${chat.text}"></p></td>
                <td><p th:text="${chat.sent_from}"></p></td>

            </tr>

        </div>

    </table>

    </body>
</div>
</html>